<h1>TimeLine</h1>


<%=form_tag '/write', method: 'post', class: "form-inline" do%>
    <div class="form-group">
        <textarea name="naeyong" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success">
    </div>

<% end %>
<ul>
    <% @blogs.each do |b| %>
        <li><%=b.user.email%> :
        <div class="well">
            <%=b.content%>
        </div>

        <%=form_tag '/deleteblog', class:"form-inline"%>
            <div class="form-group">
                <input type="hidden" name="blog_id" value="<%=b.id%>">
            </div>
            <div class="form-group">
                <input type="submit" value="글 삭제" class="btn btn-danger">
            </div>
        </form>
        
        <%=form_tag '/comment'%>
            <input type="hidden" name="blog_id" value="<%=b.id%>">
            <input type="text" name="comment">
            <input type ="submit" class="btn btn-primary">
        </form>
        <ol>
        <%b.comments.each do |comment| %>
            <li>
                <%=comment.user.email%> : 
                <blockquote>
                    <p>
                        <%= comment.msg %> 
                    </p>
                </blockquote>

                <%if comment.user == current_user%>
                    <%=form_tag '/deletecomment'%>
                        <input type="hidden" name="deleteid" value="<%=comment.id%>">
                        <input type="submit" value="댓글 삭제" class="btn btn-warning">
                    </form>
                <% end %>
                <%if comment.user == current_user%>
                    <%=form_tag '/editcomment' do%>
                        <input type="hidden" name="editid" value="<%=comment.id%>">
                        <input type="submit" value="댓글 수정" class="btn btn-warning">
                    <% end %>
                <% end %>
            </li>
        <% end %>
        </li>
        </ol>
    <% end %>
    
</ul>
